{{ attach_library('photo_sphere_viewer/photo-sphere-viewer.js') }}
{#
/**
 * @file
 * Template for an Pannellum.
 */
#}


<div id="photosphere" style="width: {{ width }}px; height: {{ height }}px;" {% if alt %} alt="{{ alt }}" {% endif %} {% if title %} title="{{ title }}" {% endif %}>
</div>

